.center {
    text-align:center;
}


.image-caption {
    text-align: center;
    font-size: 0.95em;
    color: #555;
    margin-top: 5px;
}

.container {
    max-width: 1400px;
}

.primary {
    width: 72%;
}

.sidebar {
    width: 28%;
}
