.center {
    text-align:center;
}

.image-caption {
    text-align: center;
    font-size: 0.95em;
    color: #555;
    margin-top: 5px;
}

.container {
    max-width: 1300px;
}

.primary {
    width: 65%;
}

.sidebar {
    width: 35%;
}

body {
  font-size: 16px;
}
