.center {
    text-align:center;
}


.image-caption {
    text-align: center;
    font-size: 0.95em;
    color: #555;
    margin-top: 5px;
}

.container {
    max-width: 1360px;
}

.primary {
    width: 65%;
}

.sidebar {
    width: 35%;
}
